@import './../../../global.scss';

.page-content {
  align-items: center;
  display: flex;
  justify-content: center;
  .body {
    .info-container {
      text-align: center;
      max-width: 400px;
      padding: 20px;
      img {
        height: 180px;
        object-fit: contain;
        object-position: center;
        width: 100%;
      }
      h1 {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 0px;
      }
      h2 {
        color: $clr-carbonLT;
        margin-bottom: 40px;
        margin-top: 0px;
      }
    }
  }
}