html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  color: $clr-carbonDK;
  font-size: 10px;
}

div {
  position: relative;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ion-page {
  height: 100%;
  letter-spacing: -0.25px;
  & > ion-content {
    display: flex;
    height: 100vh;
    overflow: hidden;
    .scroll-content {
      overflow-y: hidden;
    }
  }
}

ion-header {

  ion-title {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    top: 0;
    bottom: 0;

    .nav-brand {
      align-items: center;
      display: flex;
      justify-content: center;
      img {
        height: 36px;
        margin-right: 8px;
      }
      .text {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -1px;
        transform: skewX(-5deg);
        text-shadow: 0 1px $clr-opacityDK;
      }
    }
  }

  .btn-back {
    --background-hover: transparent !important;
  }

  .season-container {
    display: none;
    @media screen and (min-width: 480px) {
      width: 200px;
      display: block;
    }
  }
  .season-trigger {
    display: block;
    @media screen and (min-width: 480px) {
      display: none;
    }
  }
}

.page-content {
  background-color: $clr-clearDK;
  min-height: 100%;
  padding: 2rem;
  .header {
    align-items: center;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem;
    @media screen and (min-width: 480px) {
      flex-direction: row;
      padding: 3rem 1rem 2rem;
    }
    .page-title {
      font-size: 36px;
      font-weight: 700;
      margin: 0 0 1rem;    
      @media screen and (min-width: 480px) {
        margin: 0;
      }
      small {
        color: $clr-blue;
        display: block;
        font-size: 18px;
        font-style: italic;
        margin-top: -6px;
        position: relative;
        text-align: right;
        @media screen and (min-width: 480px) {
          display: none;
        }
      }
    }
    .toolbar {
      flex: 0 0 auto;
      width: 100%;
      @media screen and (min-width: 480px) {
        width: 250px;
      }
      .searchbar-input {
        font-size: 15px;
      }
      .searchbar-search-icon {
        height: 20px;
        margin-top: 8px;
      }
    }
  }
}

